<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Backend Web-App</title>
  </head>
  <body>
    <main>
      <h1>Welcome <%= username %>!</h1>
      <p>Agreed to Terms: <%= radio%></p>
      <p>Favorite fruit(s): <%= fruits.join(", ") %></p>
    </main>
  </body>
</html>
