<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Willkommen</title>
    </head>
    <body>
        <h1>Wellcome, <%= name %>!</h1>
        <p>Your preferred color: <span style="color: <%= color %>"><%= color %></span></p>
    </body>
</html>